* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(208, 224, 239);
    padding: 15px;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    font-size: 18px;
}
li {
    list-style: none;
}

caption {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
    background-color: aqua;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
}

td {
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: rgb(249, 208, 208);
}

th {
    background-color: rgb(225, 117, 117);
}

td, th {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
}

.s-tier {
    background-color: rgb(226, 34, 34);
}
.a-tier {
    background-color: orange;
}
.b-tier {
    background-color: rgb(254, 254, 92);
}
.c-tier {
    background-color: rgb(20, 210, 20);
}
.d-tier {
    background-color: rgb(2, 167, 2);
}
.f-tier {
    background-color: rgb(25, 93, 252);
}


/* Below is styling for contact.html */

form {
    width: 70%;
    margin: 25px auto;
    padding: 20px;
    background-color: rgb(160, 209, 255);
    font-size: 18px;
}
div {
    margin: 25px;
}

button {
    height: 45px;
    width: 100px;
    font-size: 18px;
    background-color: lightcoral;
    border: 2px solid black
}