* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background-table.jpg);
    background-size: contain;
}

nav {
    padding: 15px;
    margin-bottom: 15px;
}
/* a {
    text-decoration: none;
    font-size: 18px;
} */
li {
    list-style: none;
}

caption {
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
}

td {
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: rgb(180, 240, 180)
}

th {
    background-color: rgb(81, 230, 17);
}


img {
    width: 100%;
    height: 100%;
}

.lab {
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px; 
}

nav a {
    text-decoration: none;
    font-size: 18px;
}
nav {
    background-color: lightblue;
}