
body {
  font: 1.2em / 1.5 system-ui;
  margin: 0 auto;
  width: 90%;
  min-width: 800px;
  max-width: 1200px;
}

h1 {
  text-align: center;
  grid-area: heading;
}

section.device {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}


ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

li {
  flex: auto;
}

nav a {
  font-size: 1.2em;
  padding: 0 20px;
}

/* General link styles */

a {
  text-decoration: none;
  color: blue;
  background-color: lightblue;
}

a:hover,
a:focus {
  text-decoration: underline;
}


header section {
  display: grid;
  grid-template-areas:
    "heading heading"
    "text video"
    "text video";
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}



header p {
  grid-area: text;
  margin: 0;
}

video {
  grid-area: video;
  width: 80%;
  border: 1px solid black;
}


figure {
  margin-left: 20px;
}

figcaption {
  font-size: 0.6em;
}

#scroll-check {
    text-decoration: underline;
}