body {
    margin-top: 50px;
    font-family: Arial;
    background-image: url(images/pexels-background2.jpg);
    background-size: contain;
}

li {
    font-size: 25px;
}


header {
    text-align: center;
}

figcaption, p {
    margin: 25px auto;
    text-align: center;
    font-size: 22px;
    max-width: 800px;
    line-height: 30px;
}

footer {
    text-align: center;
}

a {
    font-size: 20px;
}

#container {
    text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: mistyrose;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(239, 134, 134);
}

.sidenav .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 0, 0);
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  margin: 20px;}

.menu-toggle:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
